In [1]:
#### Import libraries
import pandas as pd
import numpy as np

In [57]:
#### Read databases
qt_pad = pd.read_csv("~/mah546/default/datasets/ADNI/Test_Data/Data_for_Challenges/ADNI_QT-PAD/ADNI_adnimerge_20170629_QT-freeze.csv")
qt_pad

/storage/home/tug156/work/software/anaconda3/envs/adni_project/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (20,90,91) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RID,VISCODE,COLPROT,ORIGPROT,EXAMDATE,DX.bl,AGE,PTGENDER,PTEDUCAT,PTETHCAT,...,ABETA.bl,PTAU.bl,TAU.bl,FDG.bl,PIB.bl,AV45.bl,Years.bl,Month.bl,Month,M
0,2,bl,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,16,Not Hisp/Latino,...,NaN,NaN,NaN,1.369264,NaN,NaN,0.000000,0.000000,0,0
1,2,m06,ADNI1,ADNI1,2006-03-06,CN,74.3,Male,16,Not Hisp/Latino,...,NaN,NaN,NaN,1.369264,NaN,NaN,0.490075,5.868852,6,6
2,2,m36,ADNI1,ADNI1,2008-08-27,CN,74.3,Male,16,Not Hisp/Latino,...,NaN,NaN,NaN,1.369264,NaN,NaN,2.967830,35.540984,36,36
3,2,m60,ADNIGO,ADNI1,2010-09-22,CN,74.3,Male,16,Not Hisp/Latino,...,NaN,NaN,NaN,1.369264,NaN,NaN,5.037645,60.327869,60,60
4,2,m66,ADNIGO,ADNI1,2011-03-04,CN,74.3,Male,16,Not Hisp/Latino,...,NaN,NaN,NaN,1.369264,NaN,NaN,5.483915,65.672131,66,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12744,5295,bl,ADNI2,ADNI2,2013-12-11,SMC,75.5,Female,15,Not Hisp/Latino,...,416.8,8.53,88.69,1.163174,NaN,1.319026,0.000000,0.000000,0,0
12745,5295,m03,ADNI2,ADNI2,2014-02-14,SMC,75.5,Female,15,Not Hisp/Latino,...,416.8,8.53,88.69,1.163174,NaN,1.319026,0.177960,2.131148,3,3
12746,5295,m24,ADNI2,ADNI2,2015-12-08,SMC,75.5,Female,15,Not Hisp/Latino,...,416.8,8.53,88.69,1.163174,NaN,1.319026,1.990418,23.836066,24,24
12747,5296,bl,ADNI2,ADNI2,2013-12-18,SMC,69.3,Male,14,Not Hisp/Latino,...,1460,20.9,224.9,1.429264,NaN,1.138379,0.000000,0.000000,0,0
12748,5296,m24,ADNI2,ADNI2,2015-12-17,SMC,69.3,Male,14,Not Hisp/Latino,...,1460,20.9,224.9,1.429264,NaN,1.138379,1.995893,23.901639,24,24

In [58]:
print('There are ' + str(len(qt_pad)) + ' rows')

#### Keep only baseline
qt_pad = qt_pad.loc[qt_pad["VISCODE"] == "bl"]
print('After keeping only baseline, there are ' + str(len(qt_pad)) + ' rows')

#### Remove those with at least one phenotype missing 
remove = pd.DataFrame( {'Hippocampus': pd.isnull(qt_pad['Hippocampus']), 'Entorhinal': pd.isnull(qt_pad['Entorhinal']), 'Fusiform': pd.isnull(qt_pad['Fusiform']) } ).any(axis=1)
qt_pad = qt_pad.loc[~remove]
print('After removing those with missing phenotypes, there are ' + str(len(qt_pad)) + ' rows')

There are 12749 rows
After keeping only baseline, there are 1737 rows
After removing those with missing phenotypes, there are 1400 rows

In [82]:
qt_pad.iloc[:,80:90]

,EcogPtDivatt.bl,EcogPtTotal.bl,EcogSPMem.bl,EcogSPLang.bl,EcogSPVisspat.bl,EcogSPPlan.bl,EcogSPOrgan.bl,EcogSPDivatt.bl,EcogSPTotal.bl,ABETA.bl
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,741.5
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1501
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,547.3
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12733,2.50,2.026316,1.000,1.000000,1.000000,1.0,1.000000,1.00,1.000000,1665
12736,1.50,1.410256,1.250,1.222222,1.000000,1.4,1.166667,1.50,1.230769,899.4
12739,1.00,1.128205,1.625,1.375000,1.000000,1.4,1.000000,1.25,1.289474,928.3
12742,1.75,1.538462,1.000,1.000000,1.000000,1.0,1.000000,1.00,1.000000,NaN
12747,1.75,1.743590,2.000,1.444444,1.142857,1.0,1.333333,1.75,1.461538,1460

In [83]:
qt_pad.groupby(["PTGENDER", "DX.bl"]).count()
#qt_pad.groupby(["PTGENDER"]).count()

                RID  VISCODE  COLPROT  ORIGPROT  EXAMDATE  AGE  PTEDUCAT  \
PTGENDER DX.bl
Female   AD     114      114      114       114       114  114       114
         CN     180      180      180       180       180  180       180
         EMCI   118      118      118       118       118  118       118
         LMCI   175      175      175       175       175  175       175
         SMC     52       52       52        52        52   52        52
Male     AD     135      135      135       135       135  135       135
         CN     184      184      184       184       184  184       184
         EMCI   140      140      140       140       140  140       140
         LMCI   268      268      268       268       268  268       268
         SMC     34       34       34        34        34   34        34

                PTETHCAT  PTRACCAT  PTMARRY  ...  ABETA.bl  PTAU.bl  TAU.bl  \
PTGENDER DX.bl                               ...
Female   AD          114       114      114  ...        74       74      74
         CN          180       180      180  ...       118      118     118
         EMCI        118       118      118  ...       101      101     101
         LMCI        175       175      175  ...       105      105     105
         SMC          52        52       52  ...        46       46      46
Male     AD          135       135      135  ...        92       92      92
         CN          184       184      184  ...       117      117     117
         EMCI        140       140      140  ...       128      128     128
         LMCI        268       268      268  ...       161      161     161
         SMC          34        34       34  ...        32       32      32

                FDG.bl  PIB.bl  AV45.bl  Years.bl  Month.bl  Month    M
PTGENDER DX.bl
Female   AD         78       1       47       114       114    114  114
         CN        118       0       80       180       180    180  180
         EMCI      114       0      113       118       118    118  118
         LMCI      110       6       57       175       175    175  175
         SMC        51       0       51        52        52     52   52
Male     AD        102       1       58       135       135    135  135
         CN        132       0       76       184       184    184  184
         EMCI      139       0      139       140       140    140  140
         LMCI      177       8       64       268       268    268  268
         SMC        34       0       32        34        34     34   34

[10 rows x 97 columns]